/* Contact Page - Header */
 .contact-page-header {
   background-image: url(../bar-assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 90vh;

}

.contact-page-heading {
  position: absolute;
  left: 140px;
  bottom: 240px;
}


.active-navlink {
  color: $secondary-text-color;
}

/* Contact Page - Contact Info */
.contact-section {
  background-color: $primary-background-color;
  width: 100%;
  padding: 100px 0;
  height: 500px;
}

.contact-row {
  display: flex;
}

.contact-info {
  flex: 1;
}
.contact-icons li {
  display: inline-block;
}

.contact-icons {
  margin-left: -20px; // because of padding on the a tag
}

.contact-info-list li:first-child {
  margin-top: 20px;
  margin-bottom: 40px;
}


/* Contact Page - Contact Form */
form.contact-page {
  background-color: $secondary-background-color;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 25px 25px 0px -5px $secondary-text-color;
  box-sizing: border-box;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  position: relative;
  z-index: 1;
  top: -250px;
}

.row-1 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.col-1, .col-2 {
  flex: 1
}

.row-2 {
  flex-grow: 1;

}

.row-3 {
  flex: 1;
}


input, textarea {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  color: $primary-text-color;
  @include main-font(39px, 1.9px); // convert pixels to rem
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color:  rgba(255, 131, 39, 0.1);
}






input::placeholder, textarea::placeholder {
  color: #fff!important;
}

div.contact-input:nth-child(2) {
  margin-left: 30px;
}

.contact-page-input-form input {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;

}

.contact-page-message textarea {
  box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  height: 300px;
  margin: 50px 0;
  padding-top: 40px;
}

.submit-button {
  background-color: $button-primary-color;
  color: $primary-text-color;
  border: none;
  width: 100%;
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;;
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  padding: 5px 0px;
}
