/* Contact Page - Header */
 .contact-page-header {
   background-image: url(../bar-assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 90vh;
  // position: relative;
  // z-index: 1;
}

.contact-page-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 65%;
  // position: relative;
}

// .contact-page-heading h2 {
//   // position: relative;
//   // left: -500px;
// }

.active-navlink {
  color: $secondary-text-color;
}

/* Contact Page - Contact Info */
.contact-section {
  background-color: $primary-background-color;
  width: 100%;
  padding: 100px 0;
  height: 500px;
  // position: relative;
}

.contact-row {
  display: flex;
}

.contact-info {
  flex: 1;
}
.contact-icons  li {
  display: inline-block;
}

.contact-icons {
  margin-left: -20px; // because of paddign on the a tag
}

.contact-info-list li:first-child {
  margin-top: 20px;
  margin-bottom: 40px;
}


/* Contact Page - Contact Form */
form.contact-page {
  background-color: $secondary-background-color;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 25px 25px 0px -5px $secondary-text-color;
  box-sizing: border-box;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  position: relative;
  z-index: 1;
  top: -250px;


}

.row-1 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.col-1, .col-2 {
  flex: 1
}

.row-2 {
  flex-grow: 1;

}

.row-3 {
  flex: 1;
}


input, textarea {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  color: $primary-text-color;
  @include main-font(39px, 1.9px); // convert pixels to rem
}

input::placeholder, textarea::placeholder {
  color: white;
}
div.contact-input:nth-child(2) {
  margin-left: 30px;
}

.contact-page-input-form input {
  border-bottom: 1px solid white;
  padding-bottom: 10px;

}



.contact-page-message textarea {
  box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  height: 300px;
  margin: 50px 0;
  padding-top: 40px;
}

.submit-button {
  background-color: $button-primary-color;
  color: $primary-text-color;
  border: none;
  width: 100%;
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;;
  font-size: 39px; // convert pixels to rem
  letter-spacing: 1.9px;
  padding: 5px 0px;
}


@media (max-width: 1200px) {

  .contact-section {
    height: 1050px;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
  }

  .contact-page-form {
    margin-top: 100px;
    position: static;
  }
}

@media (max-width: 480px) {
  form.contact-page {
    box-shadow: 15px 15px 0px -5px #ff8327;
  }

  .contact-icons a {
    padding: 15px;
  }

}