/*  Header */
.banner-content {
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 90%;
}

header {
  background-image: url(../bar-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.box-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: 0;
  width: 50%;

}

.desktop-nav ul {
  display: flex;
  justify-content: center;
}


.top-nav-logo {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 46px;
  margin: 20px;
}

.active-navlink {
  color: $secondary-text-color;
}

.main-menu {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.collapsible-menu {
  display: none;
}

h1 {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 261.4px; // convert pixels to rem
  text-align: center;
  letter-spacing: 2.4px;
  color: $secondary-text-color;
  line-height: 117px;
  margin: 0;
}

header h2 {
  color: $primary-text-color;
  @include main-font(83.2px, 2.6px, bold);
  line-height: 94.7px;
}

#home header h2 {
  text-align: center;
  position: relative;
  left: -80px;
  margin-top: 30px;
}



/* More Info Section */
// TO DO
// 1. Need to have the icons within the wrapper rn they are bleeding out
.more-info {
  background-color: $primary-background-color;
  width: 100%;
  padding: 100px 0;
}

.wrapper.more-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.more-info p {
  max-width: 600px;
  margin-top: 0;
}

.content-row-1,
.content-row-2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* from https://markheath.net/post/font-awesome-circle-background */
.fas.round-icon {
  background: $button-primary-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  padding: 10px;
}

.icon-heading {
  @include main-font (68px, 2.2px, bold);
}



/*  Locations Section */
.locations-section {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 100px 0;
}

.locations-section {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // flex-wrap: wrap;
}

.locations-row-1,
.locations-row-2 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.locations-content-row-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: end;
  margin-right: 100px;
}

.locations-content-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 100px;
}

.locations-row-1-img {
  position: relative;
  top: -140px;
  left: -90px;
}

.locations-row-1 img {
  box-shadow: 25px 25px 0px -5px $secondary-text-color;
}

.locations-row-2 img {
  box-shadow: -25px 25px 0px -5px $secondary-text-color;
}

.locations-row-2-img {
  position: relative;
  bottom: -120px;
  right: -90px;
}




h3 {
  @include main-font (68px, 2.2px, bold);
}

.read-more-btn {
  text-align: center;
  background-color: $button-primary-color;
  padding: 0 25px;
}

.locations-section p {
  max-width: 600px;
}

// .content-left.locations {
//   position: relative;
//   top: 200px;
// }

// .content-right.plan-ahead {
//    position: relative;
//    top: -200px;
// }

/* Host A Party Section */
.host-section {
    background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
}

.host-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.host-content p {
  max-width: 700px;
  text-align: center
}

.host-content h3 {
  color: $secondary-text-color
}

/* Img Section */
.img-section img {
  width: 100%;
}
/* Events Section */
// TO DO
// 1. Align content vertically in the middle
.events-section {
  background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
  display: inline-block;
}

.events-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.events-image {
  box-shadow: -25px 25px 0px -5px $secondary-text-color;
  // needs to be fixed
}
.events-content {
  // display: flex;
  // align-items: center;
  // width: 60%;
}

.events-content p {
  max-width: 700px;

}

.events-content h3 {
  color: $secondary-text-color
}


/* Gallery Section */
.gallery-section {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 100px 0;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cell:last-of-type {
  margin-right: 0;
}
.cell {
  width: calc((100% - 50px)/ 3);
  margin-right: 25px;
}



/* Footer */
footer {
  background-color: $footer-background-color;
  text-align: center;
  padding: 15px;
}
.juno-footer-link {
  padding: 0; /* remove padding from the a tag, doesn't work with the desing */
}







/* styles.css | file:///Users/karmen/juno/projects/bar-one-psd-conversion/styles/styles.css */

h3 {
  display: inline;
  margin-left: 0px;
}

.more-info p {
  /* max-width: 600px; */
  max-width: 570px;
  margin-left: 70px;
}

.fas.round-icon {
  /* width: 50px; */
  /* height: 50px; */
  /* line-height: 50px; */
  /* top: 50px; */
  /* right: 80px; */
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 80%;
}

.wrap {
  position: relative;
  left: 100px;
}
// .locations-row-1-img img {
//   position: relative;
//   left: -100px;
// }


// Hamburger Menu


/* MEDIA QUERIES
=================================== */
@media (max-width: 1200px) {
  // Home Page - Locations Section

/* Element | file:///Users/karmen/juno/projects/bar-one-psd-conversion/index.html */

  .locations-row-1,
  .locations-row-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    // Align img in the center
  .locations-row-1-img {
    left: 0;
  }

  .locations-row-2-img {
    right: 0
  }

  .locations-content-row-1 ,
  .locations-content-row-2 {
    margin-left: 0;
  }

  .locations-content-row-2 {
    margin-top: 100px;
    align-items: flex-start;
    margin-right: 0;
  }

}


@media (max-width: 768px) {
  // .main-menu {
  //   justify-content: space-around;
  //   flex-flow: column wrap;
  // }
  // nav ul {
  //   flex-direction: column;
  // }

  // Home Page - Header
  #home .banner-content {
    height: 70%
  }

  .box-image {
    display: none;
  }

  // Home Page - Events Section
  .events-image {
    margin-bottom: 50px;
  }

  .events-container {
    padding: 20px;
  }


  // Navigation
  // Mobile Navigation Idea from - https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
  .collapsible-menu {
    display: block!important;
  }
  
  .desktop-nav {
    display: none;
  }

  .collapsible-menu {
    background-color: rgba(17,16,16,0.6);
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(255,131,39, 0.3);
  }


  .collapsible-menu label {
    font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
    font-size: 46px;
    padding: 20px;
    cursor: pointer; // make the label act a link
    background: url(../bar-assets/menu.png) no-repeat left center;
    padding: 10px 0 10px 60px;
  }

  // hide the checkbox
  input#menu {
    display: none;
  }

  /* Toggle Effect */
  input:checked + label {
    background-image: url(../bar-assets/close.png);
  }

  // when checkbox in unchecked we want to prevent the menu from collapsing
  .menu-content {
    max-height: 0;
    overflow: hidden;
  }

  // expand the menu to 100% when the checkbox is checked
  input:checked ~ .menu-content {
    max-height: 100%;
  }

  // .menu-content ul li:hover {
  //   border-bottom: 1px solid red;
  //   border-width: 20px;
  //   transition: all1s ease-in;
  // }



  // Home Page - Gallery Section

  .gallery {
    flex-direction: column;
  }

  .cell {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-right: 0px;
    margin-top: 25px;
    width: 70%;
  }

  .cell:first-of-type {
    margin-top: 0;
  }
}

@media (max-width: 480px) {

  // Home Page - Header
  #home .banner-content {
    height: 50%
  }
  #home .banner-content h1 {
    font-size: 16rem;

  }

  #home .banner-content h2 {
    font-size: 8rem;
    left: 0;
  }

  // home Page - Host Section
  .host-content {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .locations-content-row-1,
  .locations-content-row-2,
  .host-content,
  .events-container {
    padding: 0 20px;
  }
}


// .top-nav {
//   position: relative;
//   display: inline-block;
// }

// .main-menu li {
//   display: block
// }

// .hidden {
//   display: none;
// }

// #navContainer {
//     position: relative;
//     display: inline-block;
// }

// #navContent button {
//     display: block;
// }

// .hidden {
//     display: none;
// }


// Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101