/*  Header */
.banner-content {
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 90%;
}

header {
  background-image: url(../bar-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.box-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: 0;
  width: 50%;

}

.desktop-nav ul {
  display: flex;
  justify-content: center;
}


.top-nav-logo {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 4.6rem;
  padding: 0 20px;
}

.active-navlink {
  color: $secondary-text-color;
}

.main-menu {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.collapsible-menu {
  display: none;
}

.main-menu li a {
  // required for the hover effect
  position: relative;
}

.main-menu li a::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  bottom: 20px;
  left: 0;
  border-bottom: 2px solid $secondary-text-color;
  visibility: hidden; // fallback fro browsers not supporting CSS animations
  transform: scaleX(0); // hide
  transition: all 0.3s ease-out 0.2s;
}

.main-menu li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.main-menu li a:hover,
.main-menu li a :focus {
  color: rgba(255, 131, 39, 0.8);
  transition: all 0.3s ease-in 0.3s;
}

h1 {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 26.14rem;
  text-align: center;
  letter-spacing: 2.4px;
  color: $secondary-text-color;
  line-height: 117px;
  margin: 0;
}

header h2 {
  color: $primary-text-color;
  @include main-font(83.2px, 2.6px, bold);
  line-height: 94.7px;
}

#home header h2 {
  text-align: center;
  position: relative;
  left: -80px;
  margin-top: 30px;
}

/*================================== */


/* More Info Section */
.more-info {
  background-color: $primary-background-color;
  width: 100%;
  padding: 100px 0;
}

.wrapper.more-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.more-info p {
  max-width: 570px;
  margin-left: 70px;
   margin-top: 0;
}

/* from https://markheath.net/post/font-awesome-circle-background */
.fas.round-icon {
  background: $button-primary-color;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 80%;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

.content-row-1,
.content-row-2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-heading {
  @include main-font (68px, 2.2px, bold);
}

/*================================== */


/*  Locations Section */
.locations-section {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 100px 0;
}

.locations-row-1,
.locations-row-2 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.locations-content-row-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: end;
  margin-right: 100px;
}

.locations-content-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 100px;
}

.locations-row-1-img {
  position: relative;
  top: -140px;
  left: -90px;
}

.locations-row-1 img {
  box-shadow: 25px 25px 0px -5px $secondary-text-color;
}

.locations-row-2 img {
  box-shadow: -25px 25px 0px -5px $secondary-text-color;
}

.locations-row-2-img {
  position: relative;
  bottom: -120px;
  right: -90px;
}

h3 {
  @include main-font(6.8rem, 2.2px, 58px, bold);
  display: inline;
  margin-left: 0px;
}

.primary-btn {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  text-align: center;
  background-color: $button-primary-color;
  padding: 10px 25px;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: rgba(255, 131, 39, 0.8);
  transition: all 0.3s ease-in 0s;
}

.locations-section p {
  max-width: 600px;
}

/*================================== */


/* Host A Party Section */
.host-section {
    background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
}

.host-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.host-content p {
  max-width: 700px;
  text-align: center
}

.host-content h3 {
  color: $secondary-text-color
}

/*================================== */


/* Img Section */
.img-section img {
  width: 100%;
}

/*================================== */


/* Events Section */
.events-section {
  background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
  display: inline-block;
}

.events-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.events-image img {
  box-shadow: -25px 25px 0px -5px $secondary-text-color;
}

.events-content p {
  max-width: 700px;
}

.events-content h3 {
  color: $secondary-text-color
}

/*================================== */


/* Gallery Section */
.gallery-section {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 100px 0;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cell:last-of-type {
  margin-right: 0;
}
.cell {
  width: calc((100% - 50px)/ 3);
  margin-right: 25px;
}

/*================================== */


/* Footer */
footer {
  background-color: $footer-background-color;
  text-align: center;
  padding: 15px;
}
.juno-footer-link {
  padding: 0; /* remove padding from the a tag, doesn't work with the design */
}

/*================================== */
