/*  Header */
.banner-content {
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 90%;
}

header {
  background-image: url(../bar-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.box-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: 0;
  width: 50%;

}
nav {
  display: flex;
  justify-content: center;
}

.top-nav-logo {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 46px;
  margin: 20px;
}

.main-menu {
	display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 261.4px; // convert pixels to rem
  text-align: center;
  letter-spacing: 2.4px;
  color: $secondary-text-color;
  line-height: 117px;
  margin: 0;
}

header h2 {
  color: $primary-text-color;
  @include main-font(83.2px, 2.6px, bold);
  text-align: center;
  transform: translate(-80px);
  margin-top: 30px;
  line-height: 94.7px;
}



/* More Info Section */
.more-info {
  background-color: $primary-background-color;
  width: 100%;
  padding: 100px 0;
}

.wrapper.more-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.more-info p {
  max-width: 600px;
  margin-top: 0;
}

.content-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* from https://markheath.net/post/font-awesome-circle-background */
.fas.round-icon {
  background: $button-primary-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  padding: 10px;
  margin-right: 15px;
}

.icon-heading {
  @include main-font (68px, 2.2px, bold);
}



/*  Locations Section */
.locations-section {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.left-image {
  position: absolute;
  top: -150px;
  left: -80px;
}

.right-image {
  position: absolute;
  bottom: -150px;
  right: -80px;
}
.wrapper.locations-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


h3 {
  @include main-font (68px, 2.2px, bold);
}

.read-more-btn {
  text-align: center;
  background-color: $button-primary-color;
  padding: 0 25px;
}

.locations-section p {
  max-width: 600px;
}


/* Host A Party Section */
.host-section {
    background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
}

.host-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host-content p {
  max-width: 700px;
  text-align: center
}

.host-content h3 {
  color: $secondary-text-color
}

/* Events Section */
.events-section {
    background-color: $primary-background-color;
  width: 100%;
  padding: 200px 0;
  height: 100%;
  display: inline-block;
}

.events-container {
  display: flex;
  justify-content: space-evenly;
}

.events-img {
  // display: flex;
  // flex-direction: column;
  // width: 40%;
}
.events-content {
  // display: flex;
  // align-items: center;
  // width: 60%;
}

.events-content p {
  max-width: 700px;

}

.events-content h3 {
  color: $secondary-text-color
}
