/* MEDIA QUERIES
=================================== */

// First Breakpoint
@media (max-width: 1200px) {
  /* Contact Page */
  .contact-section {
    height: 1050px;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
  }

  .contact-page-form {
    margin-top: 100px;
    position: static;
  }
  /* =============== */


  /*  Home Page - Locations Section */
  .locations-row-1,
  .locations-row-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Align img in the center
  .locations-row-1-img {
    left: 0;
  }

  .locations-row-2-img {
    right: 0
  }

  .locations-content-row-1 ,
  .locations-content-row-2 {
    margin-left: 0;
  }

  .locations-content-row-2 {
    margin-top: 100px;
    align-items: flex-start;
    margin-right: 0;
  }
  /* =============== */
}




// Second Breakpoint
@media (max-width: 1024px) {
  /* Blog Page */
  .blog-page-main-section {
    flex-direction: column;
  }

  // select wrapper div (sidebar-content)
  .blog-sidebar div:nth-child(2) {
    display: flex;
    justify-content: center;
  }

  .sidebar-img {
    display: none; // design decision on mobile
  }

  .sidebar-content {
    right: 0; // to center the div
    top: 0; // remove img spacer height
  }

  .image-spacer {
    display: none;
  }

  .blog-content-spacer {
    height: 250px; // to offest the top property on the blog-post-img
  }

  .blog-sidebar {
    padding-bottom: 100px;
  }
  /* ================== */
}




// Tablets
@media (max-width: 768px) {
   /* Blog Page */
  .blog-content {
    padding: 40px;
  }

  .blog-page-heading,
  .contact-page-heading {
    left: 40px;
  }
  /* ================== */


  /* Home Page & Navigation */
  /* Home Page - Header */
  #home .banner-content {
    height: 70%
  }

  .box-image {
    display: none;
  }

  /* Home Page - Events Section */
  .events-image {
    margin-bottom: 50px;
  }

  .events-container {
    padding: 20px;
  }
  /* ================== */


  /* Navigation */
  // Mobile Navigation Idea from - https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
  // Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101

  .desktop-nav {
    display: none;
  }

  .collapsible-menu {
    display: block!important;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(17,16,16,0.6);
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(255,131,39, 0.3);
  }

  .collapsible-menu label {
    font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
    font-size: 4.6rem;
    padding: 20px;
    cursor: pointer; // make the label act a link
    background: url(../bar-assets/menu.png) no-repeat left center;
    padding: 10px 0 10px 60px;
  }

  // hide the checkbox
  input#menu {
    display: none;
  }

  /* Toggle Effect */
  input:checked + label {
    background-image: url(../bar-assets/close.png);
  }

  // when checkbox in unchecked we want to prevent the menu from collapsing
  .menu-content {
    max-height: 0;
    overflow: hidden;
  }

  // expand the menu to 100% when the checkbox is checked
  input:checked ~ .menu-content {
    max-height: 100%;
  }
  /* ================== */


  /*Home Page - Gallery Section */
  .gallery {
    flex-direction: column;
  }

  .cell {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-right: 0px;
    margin-top: 25px;
    width: 70%;
  }

  .cell:first-of-type {
    margin-top: 0;
  }
  /* ================== */
}


// Mobile Devices
@media (max-width: 480px) {
  /* Contact Page */
  form.contact-page {
    box-shadow: 15px 15px 0px -5px #ff8327;
  }

  .contact-icons a {
    padding: 15px;
  }
  /* ================== */


  /* Home Page */
  #home .banner-content {
    height: 50%
  }
  #home .banner-content h1 {
    font-size: 16rem;
  }

  #home .banner-content h2 {
    font-size: 8rem;
    left: 0;
  }

  /* Home Page - Host Section */
  .host-content {
    text-align: center;
  }

  /* Home Page - Locations Section */
  .locations-content-row-1,
  .locations-content-row-2,
  .host-content,
  .events-container {
    padding: 0 20px;
  }
  /* ================== */


  /* Blog Page */
  .sidebar-content, .blog-content {
    padding: 25px;
  }

  .blog-post-img {
    top: -200px; // to offset the g ap between the borders
  }

  .blog-content-spacer {
    height: 200px; // to offset the new value for the top property on blog-post-img
  }

  .comments-img-1, .comments-img-2 {
    margin-right: 20px;
  }

  input[type="email"], input[type="text"] {
    padding-left: 0px;
  }
  /* ================== */
}




// The smallest screen size for the project
@media (max-width: 350px) {
  /* Contact Form */
   input[type="email"] {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
