a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* FONTS

Setup Times New Roman, Times as fallback fonts

BIG HEADING (bar-one)
TulpenOne, Regular, 261.4px
Ceenter, letter spacing: 2.4px


HEADING (PLACE TO BE)
Chathura, Bold, 83.2px
Center, Line height 94.7px, letter spacing: 2.6px


HEADING ( PLAN AHEAD, NEW LOCATIONS...)
Chathura, Bold, 68px, Line height 58px, letter spacing: 2.2px


HEADING (FREE WITH..)
Chathura, Bold, 68px, Line height 58px, CENTER, letter spacing: 2.2px


BODY TEXT
Chathura, REGULAR, 39px, Line height 30px, letter spacing: 1.9px


TEXT STYLE (NAVIGATION)
Chathura, BOLD, 38px, Line height 29px, letter spacing: 1.9px
*/
/* COLORS

White
rgb(255,255,255)

Rust red
#bf2603
rgb(191,38,3)

Dusty Orange
#ff8327
rgb(255,131,39)

Black
#111010
rgb(17,16,16)

Dark Red
#220303
rgb(34,3,3)

*/
/* MIXINS
========================== */
/* ========================== */
/* GLOBALLY DEFINED STYLES
========================== */
html {
  font-size: 62.5%;
}

body {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 39px;
  letter-spacing: 1.9px;
  font-weight: 400;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  /* for accesability */
  padding: 20px;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* ========================== */
header .wrapper {
  height: 100%;
}

/* IMPORTS */
/*  Header */
.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 90%;
}

header {
  background-image: url(../bar-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.box-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: 0;
  width: 50%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav-logo {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 46px;
  margin: 20px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 261.4px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #ff8327;
  line-height: 117px;
  margin: 0;
}

header h2 {
  color: #fff;
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 83.2px;
  letter-spacing: 2.6px;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translate(-80px);
          transform: translate(-80px);
  margin-top: 30px;
  line-height: 94.7px;
}

/* More Info Section */
.more-info {
  background-color: #111010;
  width: 100%;
  padding: 100px 0;
}

.wrapper.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more-info p {
  max-width: 600px;
  margin-top: 0;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* from https://markheath.net/post/font-awesome-circle-background */
.fas.round-icon {
  background: #bf2603;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  padding: 10px;
  margin-right: 15px;
}

.icon-heading {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 68px;
  letter-spacing: 2.2px;
  font-weight: bold;
}

/*  Locations Section */
.locations-section {
  background-color: #220303;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.left-image {
  position: absolute;
  top: -150px;
  left: -80px;
}

.right-image {
  position: absolute;
  bottom: -150px;
  right: -80px;
}

.wrapper.locations-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h3 {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 68px;
  letter-spacing: 2.2px;
  font-weight: bold;
}

.read-more-btn {
  text-align: center;
  background-color: #bf2603;
  padding: 0 25px;
}

.locations-section p {
  max-width: 600px;
}

/* Host A Party Section */
.host-section {
  background-color: #111010;
  width: 100%;
  padding: 200px 0;
  height: 100%;
}

.host-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.host-content p {
  max-width: 700px;
  text-align: center;
}

.host-content h3 {
  color: #ff8327;
}

/* Events Section */
.events-section {
  background-color: #111010;
  width: 100%;
  padding: 200px 0;
  height: 100%;
  display: inline-block;
}

.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.events-content p {
  max-width: 700px;
}

.events-content h3 {
  color: #ff8327;
}

/* Gallery Section */
.gallery-section {
  background-color: #220303;
  width: 100%;
  padding: 100px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Footer */
footer {
  background-color: #111010;
  text-align: center;
  padding: 5px;
}

.juno-footer-link {
  padding: 0;
  /* remove padding from the a tag, doesn't work with the desing */
}

/* Contact Header */
.contact-page-header {
  background-image: url(../bar-assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
}

.contact-page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70%;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.contact-section {
  background-color: #111010;
  width: 100%;
  padding: 100px 0;
}

.contact-icons ul li {
  display: inline-block;
}

.submit-button {
  background-color: #bf2603;
}

form {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20p;
}

.message {
  width: 100%;
  margin-bottom: 20px;
}

.input > input {
  padding: 10px 20px;
}

.msg > textarea {
  width: 100%;
  padding: 10px 20px;
  height: 200px;
}

input, textarea {
  border: none;
  outline: none;
}

/* ========================== */
