@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* FONTS

Setup Times New Roman, Times as fallback fonts

BIG HEADING (bar-one)
TulpenOne, Regular, 261.4px
Ceenter, letter spacing: 2.4px


HEADING (PLACE TO BE)
Chathura, Bold, 83.2px
Center, Line height 94.7px, letter spacing: 2.6px


HEADING ( PLAN AHEAD, NEW LOCATIONS...)
Chathura, Bold, 68px, Line height 58px, letter spacing: 2.2px


HEADING (FREE WITH..)
Chathura, Bold, 68px, Line height 58px, CENTER, letter spacing: 2.2px


BODY TEXT
Chathura, REGULAR, 39px, Line height 30px, letter spacing: 1.9px


TEXT STYLE (NAVIGATION)
Chathura, BOLD, 38px, Line height 29px, letter spacing: 1.9px
*/
/* COLORS

White
rgb(255,255,255)

Rust red
#bf2603
rgb(191,38,3)

Dusty Orange
#ff8327
rgb(255,131,39)

Black
#111010
rgb(17,16,16)

Dark Red
#220303
rgb(34,3,3)

Footer Color - not provided on the style guide
Suggested color: #2b2727
*/
/* COLOR VARIABLES
========================== */
/* ========================== */
/* MIXINS
========================== */
/* ========================== */
/* GLOBALLY DEFINED STYLES
========================== */
html {
  font-size: 62.5%;
}

body {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

nav ul a {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  line-height: 29px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  /* for accesability */
  padding: 20px;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

header .wrapper {
  height: 100%;
}

/* ========================== */
/* IMPORTS
========================== */
/*  Header */
.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 90%;
}

header {
  background-image: url(../bar-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.box-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: 0;
  width: 50%;
}

.desktop-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav-logo {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 4.6rem;
  padding: 0 20px;
}

.active-navlink {
  color: #ff8327;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.collapsible-menu {
  display: none;
}

.main-menu li a {
  position: relative;
}

.main-menu li a::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  bottom: 20px;
  left: 0;
  border-bottom: 2px solid #ff8327;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s;
}

.main-menu li a:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-menu li a:hover,
.main-menu li a :focus {
  color: rgba(255, 131, 39, 0.8);
  -webkit-transition: all 0.3s ease-in 0.3s;
  transition: all 0.3s ease-in 0.3s;
}

h1 {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 26.14rem;
  text-align: center;
  letter-spacing: 2.4px;
  color: #ff8327;
  line-height: 117px;
  margin: 0;
}

header h2 {
  color: #fff;
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 83.2px;
  letter-spacing: 2.6px;
  line-height: bold;
  font-weight: 400;
  line-height: 94.7px;
}

#home header h2 {
  text-align: center;
  position: relative;
  left: -80px;
  margin-top: 30px;
}

/*================================== */
/* More Info Section */
.more-info {
  background-color: #111010;
  width: 100%;
  padding: 100px 0;
}

.wrapper.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more-info p {
  max-width: 570px;
  margin-left: 70px;
  margin-top: 0;
}

/* from https://markheath.net/post/font-awesome-circle-background */
.fas.round-icon {
  background: #bf2603;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 80%;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

.content-row-1,
.content-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-heading {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 68px;
  letter-spacing: 2.2px;
  line-height: bold;
  font-weight: 400;
}

/*================================== */
/*  Locations Section */
.locations-section {
  background-color: #220303;
  width: 100%;
  padding: 100px 0;
}

.locations-row-1,
.locations-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locations-content-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 100px;
}

.locations-content-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 100px;
}

.locations-row-1-img {
  position: relative;
  top: -140px;
  left: -90px;
}

.locations-row-1 img {
  -webkit-box-shadow: 25px 25px 0px -5px #ff8327;
          box-shadow: 25px 25px 0px -5px #ff8327;
}

.locations-row-2 img {
  -webkit-box-shadow: -25px 25px 0px -5px #ff8327;
          box-shadow: -25px 25px 0px -5px #ff8327;
}

.locations-row-2-img {
  position: relative;
  bottom: -120px;
  right: -90px;
}

h3 {
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 6.8rem;
  letter-spacing: 2.2px;
  line-height: 58px;
  font-weight: bold;
  display: inline;
  margin-left: 0px;
}

.primary-btn {
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  text-align: center;
  background-color: #bf2603;
  padding: 10px 25px;
}

.locations-section p {
  max-width: 600px;
}

/*================================== */
/* Host A Party Section */
.host-section {
  background-color: #111010;
  width: 100%;
  padding: 200px 0;
  height: 100%;
}

.host-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.host-content p {
  max-width: 700px;
  text-align: center;
}

.host-content h3 {
  color: #ff8327;
}

/*================================== */
/* Img Section */
.img-section img {
  width: 100%;
}

/*================================== */
/* Events Section */
.events-section {
  background-color: #111010;
  width: 100%;
  padding: 200px 0;
  height: 100%;
  display: inline-block;
}

.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.events-image img {
  -webkit-box-shadow: -25px 25px 0px -5px #ff8327;
          box-shadow: -25px 25px 0px -5px #ff8327;
}

.events-content p {
  max-width: 700px;
}

.events-content h3 {
  color: #ff8327;
}

/*================================== */
/* Gallery Section */
.gallery-section {
  background-color: #220303;
  width: 100%;
  padding: 100px 0;
  height: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cell:last-of-type {
  margin-right: 0;
}

.cell {
  width: calc((100% - 50px)/ 3);
  margin-right: 25px;
}

/*================================== */
/* Footer */
footer {
  background-color: #2b2727;
  text-align: center;
  padding: 15px;
}

.juno-footer-link {
  padding: 0;
  /* remove padding from the a tag, doesn't work with the design */
}

/*================================== */
/* Contact Page - Header */
.contact-page-header {
  background-image: url(../bar-assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 90vh;
}

.contact-page-heading {
  position: absolute;
  left: 140px;
  bottom: 240px;
}

.active-navlink {
  color: #ff8327;
}

/* Contact Page - Contact Info */
.contact-section {
  background-color: #111010;
  width: 100%;
  padding: 100px 0;
  height: 500px;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-icons li {
  display: inline-block;
}

.contact-icons {
  margin-left: -20px;
}

.contact-info-list li:first-child {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Contact Page - Contact Form */
form.contact-page {
  background-color: #220303;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: 25px 25px 0px -5px #ff8327;
          box-shadow: 25px 25px 0px -5px #ff8327;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-page-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  position: relative;
  z-index: 1;
  top: -250px;
}

.row-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-1, .col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

input, textarea {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  color: #fff;
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 39px;
  letter-spacing: 1.9px;
  line-height: 30px;
  font-weight: 400;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color: rgba(255, 131, 39, 0.1);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #fff !important;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #fff !important;
}

input::placeholder, textarea::placeholder {
  color: #fff !important;
}

div.contact-input:nth-child(2) {
  margin-left: 30px;
}

.contact-page-input-form input {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.contact-page-message textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  height: 300px;
  margin: 50px 0;
  padding-top: 40px;
}

.submit-button {
  background-color: #bf2603;
  color: #fff;
  border: none;
  width: 100%;
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  padding: 5px 0px;
}

/* Blog Page - Header */
.blog-page-header {
  background-image: url(../bar-assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 90vh;
}

.blog-page-heading {
  position: absolute;
  left: 140px;
  bottom: 240px;
}

.active-navlink, .secondary-color {
  color: #ff8327;
}

/* Blog Page - Main Section */
.blog-page-main-section {
  background-color: #111010;
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Blog Page - Sidebar layout */
.blog-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar-content {
  background: #220303;
  width: 350px;
  padding: 40px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  position: relative;
  right: -50px;
  top: -433px;
}

.image-spacer {
  height: 433px;
}

.sidebar-content p {
  margin: 0 auto;
}

.sidebar-content a {
  padding-left: 0;
}

.sidebar-img {
  position: relative;
  z-index: 10;
  top: -20px;
}

.posts-heading {
  margin-top: 39px;
}

.recent-posts-list li:before {
  content: "· ";
  vertical-align: middle;
  color: #bf2603;
}

/* Blog Page - Blog Post Layout*/
.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.blog-post-img {
  position: relative;
  z-index: 1;
  top: -250px;
  -webkit-box-shadow: -25px 25px 0px -5px #ff8327;
          box-shadow: -25px 25px 0px -5px #ff8327;
}

.blog-post-img img {
  width: 100%;
}

.border-content {
  border-left: 8px solid #ff8327;
  border-bottom: 8px solid #ff8327;
  padding-left: 12px;
}

.blog-content {
  margin-top: -180px;
  padding: 80px;
}

/* Blog Page - Comments Section */
.comments-section-col {
  margin: 100px auto;
}

.comments-row-1,
.comments-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.comments-img-1,
.comments-img-2 {
  width: 300px;
  position: relative;
  top: 50px;
  margin-right: 40px;
}

/* Blog Page - Contact Form */
form.blog-page-form {
  background-color: transparent;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.row-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-1, .col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

input, textarea {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  font-family: "Chathura", "Times New Roman", Times, sans-serif;
  font-size: 39px;
  letter-spacing: 1.9px;
  line-height: 30px;
  font-weight: 400;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: white;
}

input::placeholder, textarea::placeholder {
  color: white;
}

.blog-page-input-form input {
  padding-bottom: 10px;
}

input[type="email"], input[type="text"] {
  width: 100%;
}

div.blog-input {
  border-bottom: 1px solid #ff8327;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.blog-input:nth-child(2) {
  margin-left: 30px;
}

.blog-page-message textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ff8327;
  width: 100%;
  height: 300px;
  margin: 50px 0;
  padding-top: 40px;
}

.blog-page-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  background-color: #bf2603;
  color: #fff;
  border: none;
  width: 100%;
  font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  padding: 5px 0px;
}

/* MEDIA QUERIES
=================================== */
@media (max-width: 1200px) {
  /* Contact Page */
  .contact-section {
    height: 1050px;
  }
  .contact-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-page-form {
    margin-top: 100px;
    position: static;
  }
  /* =============== */
  /*  Home Page - Locations Section */
  .locations-row-1,
  .locations-row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .locations-row-1-img {
    left: 0;
  }
  .locations-row-2-img {
    right: 0;
  }
  .locations-content-row-1,
  .locations-content-row-2 {
    margin-left: 0;
  }
  .locations-content-row-2 {
    margin-top: 100px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
  }
  /* =============== */
}

@media (max-width: 1024px) {
  /* Blog Page */
  .blog-page-main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-sidebar div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar-img {
    display: none;
  }
  .sidebar-content {
    right: 0;
    top: 0;
  }
  .image-spacer {
    display: none;
  }
  .blog-content-spacer {
    height: 250px;
  }
  .blog-sidebar {
    padding-bottom: 100px;
  }
  /* ================== */
}

@media (max-width: 768px) {
  /* Blog Page */
  .blog-content {
    padding: 40px;
  }
  .blog-page-heading,
  .contact-page-heading {
    left: 40px;
  }
  /* ================== */
  /* Home Page & Navigation */
  /* Home Page - Header */
  #home .banner-content {
    height: 70%;
  }
  .box-image {
    display: none;
  }
  /* Home Page - Events Section */
  .events-image {
    margin-bottom: 50px;
  }
  .events-container {
    padding: 20px;
  }
  /* ================== */
  /* Navigation */
  .desktop-nav {
    display: none;
  }
  .collapsible-menu {
    display: block !important;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(17, 16, 16, 0.6);
    padding: 40px;
    -webkit-box-shadow: 1px 1px 5px rgba(255, 131, 39, 0.3);
            box-shadow: 1px 1px 5px rgba(255, 131, 39, 0.3);
  }
  .collapsible-menu label {
    font-family: 'Tulpen One',"Times New Roman", Times, cursive, sans-serif;
    font-size: 4.6rem;
    padding: 20px;
    cursor: pointer;
    background: url(../bar-assets/menu.png) no-repeat left center;
    padding: 10px 0 10px 60px;
  }
  input#menu {
    display: none;
  }
  /* Toggle Effect */
  input:checked + label {
    background-image: url(../bar-assets/close.png);
  }
  .menu-content {
    max-height: 0;
    overflow: hidden;
  }
  input:checked ~ .menu-content {
    max-height: 100%;
    padding: 15px 0;
  }
  .mobile-menu li {
    padding: 10px 0;
  }
  .mobile-menu li a {
    padding: 5px !important;
    position: relative;
  }
  .mobile-menu li a::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    bottom: 10px;
    left: 0;
    border-bottom: 2px solid #ff8327;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-out 0.2s;
    transition: all 0.3s ease-out 0.2s;
  }
  .mobile-menu li a:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .mobile-menu li a:hover,
  .mobile-menu li a :focus {
    color: rgba(255, 131, 39, 0.8);
    -webkit-transition: all 0.3s ease-in 0.3s;
    transition: all 0.3s ease-in 0.3s;
  }
  /* ================== */
  /*Home Page - Gallery Section */
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 0px;
    margin-top: 25px;
    width: 70%;
  }
  .cell:first-of-type {
    margin-top: 0;
  }
  /* ================== */
}

@media (max-width: 480px) {
  /* Contact Page */
  form.contact-page {
    -webkit-box-shadow: 15px 15px 0px -5px #ff8327;
            box-shadow: 15px 15px 0px -5px #ff8327;
  }
  .contact-icons a {
    padding: 15px;
  }
  /* ================== */
  /* Home Page */
  #home .banner-content {
    height: 50%;
  }
  #home .banner-content h1 {
    font-size: 16rem;
  }
  #home .banner-content h2 {
    font-size: 8rem;
    left: 0;
  }
  /* Home Page - Host Section */
  .host-content {
    text-align: center;
  }
  /* Home Page - Locations Section */
  .locations-content-row-1,
  .locations-content-row-2,
  .host-content,
  .events-container {
    padding: 0 20px;
  }
  /* ================== */
  /* Blog Page */
  .sidebar-content, .blog-content {
    padding: 25px;
  }
  .blog-post-img {
    top: -200px;
  }
  .blog-content-spacer {
    height: 200px;
  }
  .comments-img-1, .comments-img-2 {
    margin-right: 20px;
  }
  input[type="email"], input[type="text"] {
    padding-left: 0px;
  }
  /* ================== */
}

@media (max-width: 350px) {
  /* Contact Form */
  input[type="email"] {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* ========================== */
